.hero__container {
    display: flex;
    width: 100%;
    height: 540px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
}

.hero__container-title {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.hero__container-title h3 {
    font-size: 32px;
    font-family: logofont;
    color: white;
    margin-bottom: 0.5rem;
    text-align: center;
    padding-top: 160px;
}

.hero__container-title p {
    font-size: 40px;
    color: white;   
    font-family: 'Quicksand', sans-serif;
}

.hero__container-items {
    display: flex;
    z-index: 10;
    margin-top: 40px;
}

.hero__container-items video {
    width: 180px;
    margin-right: 2rem;
}

.hero__container-items-test {
    max-width: 160px;
}

.hero__container-items-test h3{
    font-size: 20px;
    font-family: logofont;
    color: white;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0.6rem;
}

.hero__container-items-test p {
    font-size: 20px;
    color: rgb(211,211,211);
    text-align: center;
    font-family: 'Dongle', sans-serif;
}

.hero__container-footer {
    display: flex;
    margin-top: 220px;
    position: absolute;
    margin-left: 176px;
}
.hero__container-footer span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 0.4rem;
    transition: 3s all;
    display: inline-block;
    bottom: 0px;
}

.hero__container-footer span:hover{
    cursor: pointer;
    background-color: grey;
}

.bg_video {
    position: absolute;
 
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

